.my-form {
    height:400px;
    overflow-y: hidden;
    overflow-x: hidden;
}


.my-form:hover {
    overflow-y: hidden; /* fallback */
    overflow-y: overlay;
    overflow-x: overlay;
}

.numberDistribution {
    width: 550px;
    height:200px;
}

@media only screen and (max-height: 858px) {
    .my-form  {
        height: 300px;
    }

}   