.generated-data {
    overflow-y: hidden;
}


.generated-data:hover {
    overflow-y: auto; /* fallback */
    overflow-y: overlay;
}


.column-data { 
    text-overflow: ellipsis;
    overflow: hidden; 
    /* width: 160px;  */
    white-space: nowrap;
  }