.tablesAndColumnsRows {
    overflow: hidden;
}


.tablesAndColumnsRows:hover {
    overflow: auto; /* fallback */
    overflow: overlay;
}

.table-row:hover {
    background: #adbbc5;
}

.column-row:hover {
    background: #adbbc5;
}

.column-row-clicked {
    background: #adbbc5;
}